/* BARRA DE NAVEGAÇÃO */
nav {
  background-color: black;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.studiobarber {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  margin-left: 10px;
  margin-top: 15px;
}

/* MENU DA NAVBAR */
.botao {
  color: white;
  background-color: #f46d25;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  font-size: 19px;
}

.botao:hover {
  background-color: #f56625;
  transition: background-color 0.3s ease;
}

/* INFORMAÇÕES DO LOCAL */
.hero-section {
  background: url("/assets/carrousel1.png") no-repeat center center/cover;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
}

/* IMAGENS BARBEIROS */
.image-container {
  display: flex;
  gap: 4rem;
  position: absolute;
  transform: translate(-50%, -60%);
}

/* Quando a largura da tela for de pelo menos 1055px */
@media (min-width: 1055px) {
  .image-container {
    top: -150px;
  }
}

@media (min-width: 757px) {
  .image-container {
    top: -150px;
  }
}

/* Quando a largura da tela for de até 737px */
@media (max-width: 757px) {
  .image-container {
    top: -160px;
  }
}

.hero-image {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-bottom: 10px;
}

.hero-image:hover {
  transform: scale(1.1);
}

.contact-info {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  padding: 30px 20px;
  text-align: center;
  gap: 20px;
}

.contact-box {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-left: none;
  border-right: none;
}

.redes {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 20px;
}

@media (max-width: 1058px) {
  .divider {
    border-style: none !important;
  }
}

@media (min-width: 768px) {
  .contact-info {
    flex-direction: row;
    justify-content: space-around;
  }

  .contact-box {
    text-align: left;
  }
}

.contact-box a {
  color: white;
  text-decoration: none;
}

.profile-box h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.contact-text {
  font-size: 16px;
  margin-top: 5px;
  white-space: nowrap;
}

.contact-text a {
  color: #25d366;
  text-decoration: none;
  font-weight: bold;
}

.contact-text a:hover {
  text-decoration: underline;
}

.span-agendamento {
  line-height: 22px;
}

.agendar-btn {
  color: white;
  font-size: 17px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.agendar-btn:hover {
  text-decoration: underline;
}

/* CARROUSEL DE CARDS */

.carousel-button {
  background: #fff;
  color: #f46d25;
  border: #f46d25;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  height: 50px;
  transition: all 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.carousel-button:hover {
  background: #f46d25;
  color: #fff;
  transform: scale(1.02);
}

.titulo-servico {
  padding-top: 50px;
  text-align: center;
}

.adicionar-circular {
  width: 45px;
  height: 43px;
  border-radius: 100%;
  background-color: #f46d25;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.adicionar-circular:hover {
  background-color: #f56625;
}

.card-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 1200px;
}

.arrow-bold {
  font-family: "Arial Black", sans-serif;
  font-size: 25px;
  padding-bottom: 5px;
}

.card-carousel-wrapper {
  overflow: hidden;
  width: 1080px;
  height: 300px;
  position: relative;
}

.card-carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 20px;
}

.service-card {
  width: 250px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo do Modal */

.info-overlay {
  position: absolute;
  bottom: 0; /* Alinha no rodapé da imagem */
  left: 20px;
  right: 20px;
  margin-bottom: 0;
  z-index: 5;
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 10px 10px 0 0; /* Arredonda topo, se quiser um visual mais suave */
}

.info-section {
  flex: 1 1 300px;
  margin: 10px;
}

.divider {
  border: 1px solid white;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.nome,
.descricao {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px 10px;
  width: 300px;
}

/* FOOTER */
.footer {
  background: url("/assets/barbearia2.jpeg") no-repeat center center/cover;
  color: white;
  padding: 50px 20px;
  margin-top: 100px;
  overflow: hidden;
  background-attachment: fixed;
}

.contact h2,
.contact h3.book-button,
.instagram h2 {
  font-size: 40px;
  word-wrap: break-word;
}

.contact p {
  font-size: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.contact,
.instagram {
  width: 40%;
  max-width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  max-width: 100%;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  max-width: none;
  object-fit: cover;
}

.route-btn {
  background: #f46d25;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.route-btn:hover {
  background-color: #f56625;
}

.footer-infos {
  background-color: black;
}

/* CARDS CARROUSEL */

.btn-form {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem;
  background-color: #f56625;
  color: white;
  border-radius: 100%;
  padding: 5px 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: auto;
  gap: 1rem;
  padding: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.preview-card {
  background-color: white;
  padding: 1rem;
  width: 55%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.preview-card img {
  height: 50px;
  object-fit: contain;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
  height: 80px;
}

button[type="submit"] {
  padding: 0.6rem 1rem;
  border: none;
  background-color: #f46d25;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

button[type="submit"]:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
